<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>№</th>
        <th>Divinity</th>
        <th>Baldur's Gate</th>
        <th>Dota2</th>
        <th>Lol</th>
        <th>Overwatch</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{@index}}</td>
            {{#each this}}
                <td>{{this}}</td>
            {{/each}}

        </tr>
    {{/each}}
    </tbody>
</table>